body {
  background-color: teal;
  direction: rtl;
}

.products {
  margin: 20px auto;
  background-color: white;
  border: 1px solid lightgray;
  display: flex;
}
.product {
  width: 200px;
  margin: 60px auto;
  margin-top: 0;
}

.card {
  margin-bottom: 50px;
  padding: 0 20px;
}

.cart__title {
  border-bottom: 2px solid tomato !important;
}
.cart__total-price {
  color: green;
}
